<html>
  <head>
    <title>File upload Node.</title>
  </head>
  <body>
      <form id="uploadForm"
         enctype="multipart/form-data"
         action="/api/upload"
         method="post">
      <input type="file" name="fileUpload" id="fileUpload" multiple/>
      <input type="button" value="Upload Image" name="submit" onclick="formSubmit(this)">
    </form>
    <span id="status"></span>
    <ul id="fileList"></ul>
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>
  <script>
  function formSubmit(input) {
    $('#'+input.form.id).ajaxSubmit({
      error: function(xhr) {
        console.log('Error: ' + xhr.status);
      },
      success: function(response) {
        $("#status").empty().text("Finished uploading "+response);
      }
      // data: (function() {
      //   var mapping = {};
      //   $.each($('#fileUpload').prop('files'), function(file) {
      //     mapping[file.name] = file.webkitRelativePath;
      //   });
      //   return mapping;
      // })(),
      // beforeSubmit: function(arr, form, options) {
      //   arr.forEach(function(file) {
      //     file.value.name = file.value.webkitRelativePath || file.value.name;
      //     console.log(file);
      //   });
      // }
    });
  }

  $('#fileUpload').on('change', function(event) {

    $('#fileList').empty().append($.map($('#fileUpload').prop('files'), function(file) {
      return '<li>' + (file.webkitRelativePath || file.name) + '</li>';
    }).join(''));
    // var msg = event.target.files.map(function(file) {return file.name;}).join(" ,");
    // console.log(msg);

  });
</script>
</html>
